<!-- edu top header wrapper Start -->
<div id="preloader">
    <div id="status">
        <img src="assets/images/preloader.gif" id="preloader_image" alt="loader">
    </div>
</div>
<div class="edu_top_header_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="edu_top_header_left_wrapper">
                    <p>Hello !! Welcome to EKnowledgEhub</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12">
                <div class="edu_top_header_left_wrapper">
                    <p style="color: white !important;"><a href="tel:+91 9985517744" style="color: white;"><i class="flaticon-telephone"></i> &nbsp;+91 - 99855 17744</a>
                        &nbsp;&nbsp;
                        <a href="mailto:eknowledgeehub@gmail.com" style="padding-top: 8px;color: white;"> <i class="flaticon-close-envelope"></i> &nbsp;eknowledgeehub&#64;gmail.com</a>
                       </p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <div class="edu_top_header_right_wrapper">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61556009705803 "><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.instagram.com/eknowledgehub1/"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.youtube.com/@Eknowledgehub66"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="back2Top2" title="Back to top" href="https://api.whatsapp.com/send?phone=919985517744&amp;text=Hey! 🚀 I'm interested in enrolling in the upcoming  course. Can you let me know about the enrollment process? Thanks!" target="_blank"><i class="fab fa-whatsapp"></i></a>


<a id="back2Top" title="Back to top" href="#">&#10148;</a>
<!-- edu logo header wrapper End -->
<!-- edu navihation header wrapper Start -->
<div class="edu_navihation_header_wrapper float_left">

    <div class="container" style=" padding: 15px 0px;">

        <!-- <div class="edu_logo_main_wrapper"> -->
        <a href="" style="padding-left: 30px;">
            <img src="assets/myimgs/logo.png" alt="logo" style="height: 50px;">
        </a>
        <!-- </div> -->

        <header class="mobail_menu d-block d-sm-block d-md-block d-lg-none d-xl-none">
            <div class="cd-dropdown-wrapper">
                <a class="house_toggle" href="#0"> <i class="flaticon-menu"></i>
                </a>
                <nav class="cd-dropdown">
                    <h2><a href="#">Knowledgehub</a></h2>
                    <a href="#0" class="cd-close">Close</a>
                    <ul class="cd-dropdown-content">

                        <li> <a href="">Home</a>

                        </li>
                        <li><a routerLink="/about">About</a>
                        </li>

                        <li class="has-children"> <a href="#">Trainings</a>
                            <ul class="cd-secondary-dropdown icon_menu is-hidden">
                                <li class="go-back"><a href="#0">Menu</a>
                                </li>
                                <li><a routerLink="/aad">Android Application Development</a>
                                </li>
                                <li><a routerLink="/flutter">Flutter</a>
                                </li>
                                <li><a routerLink="/aws">Amazon Web Services</a>
                                </li>
                                <li><a routerLink="/dm">Digital Marketing</a>
                                </li>
                                <li><a routerLink="/azure">Azure</a>
                                </li>
                                <li><a routerLink="/cloud">Google Cloud Platforms</a>
                                </li>
                                <li><a routerLink="/devops">DevOps</a>
                                </li>
                                <li><a routerLink="/baac">Business Analysis </a>
                                </li>
                                <li><a routerLink="/agile"> Agile Certification</a>
                                </li>
                            </ul>
                        </li>
                        <li> <a routerLink="/blog">Blog</a>
                        </li>

                        <li><a routerLink="/contact">Contact Us</a>
                        </li>
                    </ul>

                </nav>

            </div>

        </header>
        <div class="kv_navigation_wrapper">
            <div class="mainmenu d-xl-block d-lg-block d-md-none d-sm-none d-none">
                <ul class="main_nav_ul">
                    <li class="has-mega gc_main_navigation"><a href="" class="gc_main_navigation hover_color">Home</a>
                    </li>
                    <li class="has-mega gc_main_navigation"><a routerLink="/about"
                            class="gc_main_navigation hover_color">About Us</a>
                    </li>
                    <li class="has-mega gc_main_navigation"><a class="gc_main_navigation hover_color">
                            Training&nbsp; <i class="fas fa-angle-down"></i></a>
                        <ul>
                            
                            <li class="parent"><a routerLink="/aad">Android Application Development</a>
                            </li>
                            <li class="parent"><a routerLink="/flutter">Flutter</a>
                            </li>
                            <li class="parent"><a routerLink="/aws">Amazon Web Services</a>
                            </li>
                            <li class="parent"><a routerLink="/dm">Digital Marketing</a>
                            </li>
                            <li class="parent"><a routerLink="/azure">Azure</a>
                            </li>
                            <li class="parent"><a routerLink="/cloud">Google Cloud Platforms</a>
                            </li>
                            <li class="parent"><a routerLink="/devops">DevOps</a>
                            </li>
                            <li class="parent"><a routerLink="/baac">Business Analysis </a>
                            </li>
                            <li class="parent"><a routerLink="/agile"> Agile Certification</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-mega gc_main_navigation"><a routerLink="/blog"
                            class="gc_main_navigation hover_color">
                            Blog&nbsp; </a>

                    </li>

                    <li class="has-mega gc_main_navigation"><a routerLink="/contact"
                            class="gc_main_navigation hover_color">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>