<!-- footer Wrapper Start -->
<div class="footer jb_cover float_left">
    <div class="container">
        <div class="row" style="color: white;">
            <div class="col-lg-5 col-sm-6 col-12">
                <div class="footerNav jb_cover">
                    <a href="#">
                        <img src="assets/myimgs/logo.png" alt="img">
                    </a>
                    <ul class="footer_first_contact">
                        <li><i class="flaticon-map-marker"></i>
                            <p>Sai Balaji Residency, Nagondanahalli - Kaidotha, Mainroad, Whitefield, Bengaluru,
                                Karnataka 560066
                            </p>
                        </li>
                        <li><i class="flaticon-telephone"></i>
                            <a href="tel:+91 9985517744" style="padding-top: 8px;">+91 - 99855 17744</a>
                            
                        </li>
                        <li style="text-transform: none;width: 102%;"><i class="flaticon-close-envelope"></i><a href="mailto:eknowledgeehub@gmail.com" style="padding-top: 8px;">eknowledgeehub&#64;gmail.com</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footerNav jb_cover footer_border_displ footer_border_disp2">
                    <h5 style="font-weight: bold;">Courses</h5>
                    <ul class="nav-widget">
                        <li><a routerLink="/flutter"><i class="fa fa-square"></i>Flutter
                            </a>
                        </li>
                        <li><a routerLink="/aws"><i class="fa fa-square"></i>Digital Marketing
                            </a>
                        </li>
                        <li><a routerLink="/devops"><i class="fa fa-square"></i>DevOps
                            </a>
                        </li>
                        <li><a routerLink="/aws"><i class="fa fa-square"></i>AWS
                            </a>
                        </li>
                        <li><a routerLink="/azure"><i class="fa fa-square"></i>Azure
                            </a>
                        </li>



                        <!-- <li><a routerLink="/baac"><i class="fa fa-square"></i>Business Analysis
                        </a>
                    </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="footerNav jb_cover footer_border_displ footer_border_disp3">
                    <h5 style="font-weight: bold;">browse</h5>
                    <ul class="nav-widget">
                        <!-- <li><a routerLink="/home"><i class="fa fa-square"></i>Home
                        </a>
                    </li> -->
                        <li><a routerLink="/about"><i class="fa fa-square"></i>About Us
                            </a>
                        </li>
                        <li><a routerLink="/blog"><i class="fa fa-square"></i>Blog
                            </a>
                        </li>
                        <li><a routerLink="/contact"><i class="fa fa-square"></i>Contact Us
                            </a>
                        </li>
                    </ul>

                </div>
                <ul class="icon_list_news jb_cover ">
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61556009705803 "><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li> <a target="_blank" href="https://www.instagram.com/eknowledgehub1/"><i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.youtube.com/@Eknowledgehub66"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>

        </div>
        <br>
        <div class="row" style="text-align: center;">
            <div class="bottom_footer float_left">
                <p style="color: white;">Copyright © 2024. EKnowledgEhub</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="edu_footer_bottom float_left" style="background: dimgrey">
    <div class="container">
        <div class="bottom_footer float_left">
            <p style="color: white;">&copy;2022-23 Education. All Rights Reserved.</p>
        </div>
    </div>
</div> -->
<!-- footer Wrapper End -->