<!-- inner header wrapper start -->
<div class="page_title_section float_left" style="padding-top: 50px;">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <h1>Flutter</h1><br>
                    <h6 style="color: white;font-weight: bold;">Learn Flutter
                        in just 4 weeks!</h6><br>
                    <p class="LandingSectionNew_StartDate__3OlHG">
                        <span style="border-radius: 8px;
                        border: 1px solid #bc8000;
                        background: linear-gradient(90deg,#bc8000,#420e00);
                        box-shadow: 0 0 8px -1px #bc8000;
                        font-size: .8em;padding: 6px;">Application closes on <span
                                class="LandingSectionNew_GoldenDate__3l1us">soon</span></span>
                    </p>
                </div><br>
            </div>
            <div class="row" style="text-align: center;padding-top: 50px;">
                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/71.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;padding: 10px;">In Demand Skill </span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/72.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;padding: 10px;">1 Million Jobs Created</span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/43.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;padding: 10px 5px;">Average Salary Package </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!--blog wrapper start-->
<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post-wrapper iner_blog">

                    <!-- /.post-thumbnail -->
                    <div class="blog-content" style="padding-top: 0px !important;">

                        <!-- /.entry-meta -->
                        <p>Are you ready to dive into the cutting-edge world of mobile app development? At eKnowledgeHub, we are excited to launch our comprehensive Flutter Development course, which will provide you with the skills and information you need to prosper in the dynamic field of mobile application development.
                        </p>

                        <br>
                        <!-- /.entry-header -->

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 style="font-weight: bold;">What is in it for you?</h2>
                        </div>
                        <div class="col-12">
                            <h4 style="float: left;"> Shape the future with Flutter</h4>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px;">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/LiveClasses.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Live Classes</h3>
                                    <p style="font-size: 0.875em;">Attend 4 weeks of instructor led live classes at
                                        the lowest price ever</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Project.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Projects</h3>
                                    <p style="font-size: 0.875em;">Work on real life project with tangible impact
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/certificate.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Verified Certificate</h3>
                                    <p style="font-size: 0.875em;">Earn a industry recognized certificate and kick
                                        start your career</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Recordings.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Session Recordings</h3>
                                    <p style="font-size: 0.875em;">Revisit older chapters anytime with recorded
                                        sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Lifetimeaccess.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Lifetime Access</h3>
                                    <p style="font-size: 0.875em;">Get lifetime access to the recorded sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Students.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Students Forum</h3>
                                    <p style="font-size: 0.875em;">Get access to an exclusive student community with
                                        like minded people</p>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">
                        <img src="assets/images/quote.png" alt="img" style="top: 20px;">
                        <h1>
                            Grab your slot before the offer expires</h1>
                        <p style="color: white;">
                            Discount applicable for next
                            <a style="font-weight: bold;"> 10 candidates only.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="edu_heading_wrapper edu_heading_wrapper_contactus float_left">
                                    <h4 style="font-weight: bold;">Reserve your spot today!</h4>
                                </div>
                            </div>
                            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                                <form  [formGroup]="addForm">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="first_name" formControlName="name"
                                                        required="" placeholder=" Name*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="last_name" formControlName="phn_num"
                                                    minlength="10" maxlength="10" (keypress)="numericOnly($event)"  required="" placeholder="Phone Number*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-e">
                                                <div class="form-group i-email">
                                                    <input type="email" class="form-control require" name="email"
                                                        required="" placeholder=" Email *" data-valid="email" formControlName="email"
                                                        data-error="Email should be valid.">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-m">
                                                <div class="form-group i-message">

                                                    <textarea class="form-control require" name="message" required="" formControlName="message"
                                                        rows="5" id="messageTen" placeholder=" Message"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tb_es_btn_div">
                                                <div class="response"></div>
                                                <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                                    <button type="button" (click)="Submit()">send message
                                                        !</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edu_counter_main_section_wrapper float_left">
    <div class="edu_counter_img_overlay"></div>
    <section class="counter-section section-padding">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon3 icon1">
                            <div class="icon">
                                <img src="assets/images/c1.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">500 </span>
                                <h5 class="con1">Enrolled Students</h5>
                            </div>
                        </div>
    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c3.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">100 </span>
                                <h5 class="con1">Completed Pojects</h5>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c4.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">5 </span>
                                <h5 class="con1">Expertise</h5>
                            </div>
                        </div> -->
            </div>
        </div>
    </section>
</div>

<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;    background: white;                                ">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Curriculum</h1>
                                <p style="color: #878787;">
                                    A Curriculum designed for your success
                                </p>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Introduction to Flutter</h1>
                                <p>
                                    Module 1<br>
                                    
                                </p>
                                <ul>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Flutter
                                        Environment Setup</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Executing
                                        Flutter
                                    </li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Dart
                                        Basic Syntax
                                    </li>
                                </ul>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">Basics of Flutter</span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 2</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">

                                    <li class="CurriculumSectionNew_Topic__eicEE">Flutter Widgets</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Flutter Layouts</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Flutter State Management</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Flutter Navigation</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Flutter UI Styling</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Flutter Form Handling</li>
                                </div>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">Advanced Flutter
                                    Concepts</span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 3</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Flutter Animation</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Flutter Networking</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Flutter Persistence</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Flutter Packages and Plugins</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Flutter Testing</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Flutter Deployment</li>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div class="tb_es_btn_div">
                                        <div class="response"></div>
                                        <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                            <button type="button" class="submitForm"> <a style="color: #fff;"
                                                    href="assets/pdf/FlutterCourse.pdf" target="_blank">
                                                    More Details </a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Tools Covered</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Dart.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Dart </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/AndroidLogo.png" alt="img" style="top: 10px;height: 60px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Android </h6>
                                        </div>

                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/xcode.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                XCode</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left; background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Course Includes</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Doubts.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Doubt Clearing Sessions</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Assignments1.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Relevant Assignments</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Study.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Updated Study Materials</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Project.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Live Projects</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Skills You Will Learn</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 10px 35px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="CurriculumSectionNew_DropdownContent__7iTjH">
                                        <li class="CurriculumSectionNew_Topic__eicEE">Flutter Widgets</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Flutter Navigation</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Flutter UI Styling</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Flutter Animation</li>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--blog wrapper end-->


<div class="edu_gallery_inner_main_wrapper float_left" style="padding-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>More Courses</h1>
            </div>
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="All" class="tab-pane active" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc5.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/AzureLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/azure">Azure</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/azure">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc6.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/DevOpsLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/devops">DevOps</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 53000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 24999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 150 Hours</p>
                                        
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/devops">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc1.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;"
                                                    src="assets/myimgs/AWSLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/aws">AWS</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 23000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 9999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/aws">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc2.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/BALogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/baac">Business Analysis</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/baac">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="edu_gallery_inner_main_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">

                <h1>
                    Looking for help? Here are our most frequently asked questions</h1>

            </div>

        </div>
    </div>
</div>

<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #743d00e3;padding: 40px;border-radius: 40px;">
        <div class="row">
            <p style="color: white;">Our Flutter Development course offers a comprehensive curriculum that covers all
                aspects of Flutter development, from the basics to advanced concepts. Industry experts who are
                well-versed in the latest trends and demands of the mobile app development landscape design the
                curriculum. This ensures that you learn the most relevant and up-to-date skills that are in high demand
                in the industry.
                <br> <br>One of the key highlights of our course is the emphasis on hands-on learning. While theory is
                important, practical experience is crucial in becoming a proficient Flutter developer. Through projects
                and real-world scenarios, you will gain practical skills that can be directly applied in professional
                settings. This hands-on approach will give you the confidence and experience needed to excel in your
                Flutter development career.
                <br><br> Our instructors are seasoned professionals with real-world experience in Flutter development.
                They are passionate about Flutter and are dedicated to helping you succeed in your learning journey.
                Their expertise and guidance will provide you with valuable insights and industry best practices that
                will set you apart as a Flutter developer.
                <br><br> Flutter's cross-platform advantage is another reason to choose our course. Flutter allows you
                to create natively compiled applications for mobile, web, and desktop from a single codebase. Our course
                delves into harnessing Flutter's cross-platform capabilities, saving you time and resources in app
                development.
                <br><br> In this course, you will learn the basics of Flutter, including the Dart language and the
                Flutter framework. You will also learn how to set up your development environment for building Flutter
                applications.
                <br><br> The course will cover the rich library of widgets available in Flutter, and teach you how to
                create responsive and dynamic layouts for your applications. You will also learn various state
                management techniques in Flutter to efficiently handle user interactions and app data.

            </p>
        </div>
    </div>
</div>
<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #d19200df;padding: 40px;border-radius: 30px;">
        <div class="row">
            <div class="edu_evnt_single_timer_bottom_cont_wrapper float_left">
                <h3 style="padding-top: 0px;color: white;">Flutter General FAQs</h3>
                <p style="color: #773f00;">Everything you need to know</p>
                <ul>
                    <li style="font-weight: 600;color: #fff;">1. Is Flutter suitable for beginners?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i>Yes, Flutter is suitable for beginners and experienced developers alike. Its hot reload feature, expressive syntax, and comprehensive documentation make it accessible for those new to app development. However, experienced developers will appreciate its flexibility and powerful features.
                    </li><br>
                    <li style="font-weight: 600;color: #fff;">2. What platforms does Flutter support?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> Flutter supports iOS, Android, web, and desktop platforms. With a single codebase, developers can create applications that run seamlessly across these diverse environments

                    </li>
                    <br>
                    <li style="font-weight: 600;color: #fff;">3. Can Flutter be used for web and desktop development?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> Yes, Flutter extends its capabilities beyond mobile app development. With Flutter, you can build applications for the web and desktop platforms, allowing you to create a consistent user experience across multiple devices.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>



<link src="assets/css/style_II.css">