<!-- inner header wrapper start -->
<div class="page_title_section float_left" style="padding-top: 50px;">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <h1>Google Cloud Platforms</h1><br>
                    <h6 style="color: white;font-weight: bold;">Learn Google Cloud Platforms
                        in just 4 weeks!</h6><br>
                    <p class="LandingSectionNew_StartDate__3OlHG">
                        <span style="border-radius: 8px;
                        border: 1px solid #bc8000;
                        background: linear-gradient(90deg,#bc8000,#420e00);
                        box-shadow: 0 0 8px -1px #bc8000;
                        font-size: .8em;padding: 6px;">Application closes on <span
                                class="LandingSectionNew_GoldenDate__3l1us">soon</span></span>
                    </p>
                </div><br>
            </div>
            <div class="row" style="text-align: center;padding-top: 50px;">
                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/Demand.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;
                            padding: 10px;">In Demand Skill </span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/Demand1.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;
                            padding: 10px;">1 Million Jobs Created</span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/Demand2.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;
                            padding: 10px 5px;">Average Salary Package </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!--blog wrapper start-->
<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post-wrapper iner_blog">

                    <!-- /.post-thumbnail -->
                    <div class="blog-content" style="padding-top: 0px !important;">

                        <!-- /.entry-meta -->
                        <p>Welcome to eKnowledgeHub, where cutting-edge training meets transformative learning. Dive
                            into the future of cloud computing with our comprehensive Google Cloud Platform (GCP)
                            Course. Whether you are an IT professional, looking to expand your skill set or a
                            newcomer eager to embark on a cloud journey, our course is designed to empower you with
                            the expertise needed to excel in the dynamic world of cloud technology.
                        </p>

                        <br>
                        <!-- /.entry-header -->

                    </div>
                    <div class="row" style="margin: 0px;">
                        <h2 style="font-weight: bold;">What is in it for you?</h2><br>
                        <h4>
                            Shape the future with Google Cloud Platforms</h4>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/LiveClasses.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Live Classes</h3>
                                    <p style="font-size: 0.875em;">Attend 4 weeks of instructor led live classes at
                                        the lowest price ever</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Project.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Projects</h3>
                                    <p style="font-size: 0.875em;">Work on real life project with tangible impact
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/certificate.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Verified Certificate</h3>
                                    <p style="font-size: 0.875em;">Earn a industry recognized certificate and kick
                                        start your career</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Recordings.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Session Recordings</h3>
                                    <p style="font-size: 0.875em;">Revisit older chapters anytime with recorded
                                        sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Lifetimeaccess.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Lifetime Access</h3>
                                    <p style="font-size: 0.875em;">Get lifetime access to the recorded sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Students.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Students Forum</h3>
                                    <p style="font-size: 0.875em;">Get access to an exclusive student community with
                                        like minded people</p>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">
                        <img src="assets/images/quote.png" alt="img" style="top: 20px;">
                        <h1>
                            Grab your slot before the offer expires</h1>
                        <p style="color: white;">
                            Discount applicable for next
                            <a style="font-weight: bold;"> 10 candidates only.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="edu_heading_wrapper edu_heading_wrapper_contactus float_left">
                                    <h4 style="font-weight: bold;">Reserve your spot today!</h4>
                                </div>
                            </div>
                            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                                <form  [formGroup]="addForm">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="first_name" formControlName="name"
                                                        required="" placeholder=" Name*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="last_name" formControlName="phn_num"
                                                    minlength="10" maxlength="10" (keypress)="numericOnly($event)" required="" placeholder="Phone Number*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-e">
                                                <div class="form-group i-email">
                                                    <input type="email" class="form-control require" name="email"
                                                        required="" placeholder=" Email *" data-valid="email" formControlName="email"
                                                        data-error="Email should be valid.">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-m">
                                                <div class="form-group i-message">

                                                    <textarea class="form-control require" name="message" required="" formControlName="message"
                                                        rows="5" id="messageTen" placeholder=" Message"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tb_es_btn_div">
                                                <div class="response"></div>
                                                <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                                    <button type="button" (click)="Submit()">send message
                                                        !</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edu_counter_main_section_wrapper float_left">
    <div class="edu_counter_img_overlay"></div>
    <section class="counter-section section-padding">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon3 icon1">
                            <div class="icon">
                                <img src="assets/images/c1.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">500 </span>
                                <h5 class="con1">Enrolled Students</h5>
                            </div>
                        </div>
    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c3.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">100 </span>
                                <h5 class="con1">Completed Pojects</h5>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c4.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">5 </span>
                                <h5 class="con1">Expertise</h5>
                            </div>
                        </div> -->
            </div>
        </div>
    </section>
</div>

<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;    background: white;                                ">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Curriculum</h1>
                                <p style="color: #878787;">
                                    A Curriculum designed for your success
                                </p>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Introduction to Google Cloud Platform</h1>
                                <p>
                                    Module 1<br>
                                    
                                </p>
                                <ul>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;
                                        Introduction</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp; GCP
                                        Environment Setup
                                    </li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;
                                        Executing GCP Commands
                                    </li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;
                                        Python on GCP
                                    </li>
                                </ul>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">Google Cloud
                                    Platform</span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 2</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Variable Types</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Basic Operators</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Decision Making</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Loops</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Numbers</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Strings</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Lists</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Tuples</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Functions</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Modules</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Files I/O</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Exceptions</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Python Classes and Objects</li>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div class="tb_es_btn_div">
                                        <div class="response"></div>
                                        <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt"> 
                                            <button type="button" class="submitForm"> <a style="color: #fff;" href="assets/pdf/Android.pdf" target="_blank">
                                                    More Details </a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Tools Covered</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/ComputeEngine.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Compute Engine</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/CloudStorage.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Cloud Storage </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/CloudRun.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Cloud Run</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left; background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Course Includes</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Doubts.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Doubt Clearing Sessions</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Assignments1.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Relevant Assignments</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Study.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Updated Study Materials</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Project.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Live Projects</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Skills You Will Learn</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 10px 35px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="CurriculumSectionNew_DropdownContent__7iTjH">

                                        <li class="CurriculumSectionNew_Topic__eicEE"> GCP Environment Setup</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Python Basics for GCP </li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">GCP Command Line</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Python on GCP</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--blog wrapper end-->


<div class="edu_gallery_inner_main_wrapper float_left" style="padding-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>More Courses</h1>
            </div>
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="All" class="tab-pane active" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc5.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/AzureLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/azure">Azure</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/azure">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc6.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/DevOpsLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/devops">DevOps</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 53000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 24999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 150 Hours</p>
                                        
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/devops">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc1.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;"
                                                    src="assets/myimgs/FlutterLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/flutter">Flutter</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/flutter">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc2.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/BALogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/baac">Business Analysis</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/baac">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="edu_gallery_inner_main_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">

                <h1>
                    Looking for help? Here are our most frequently asked questions</h1>

            </div>

        </div>
    </div>
</div>

<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #743d00e3;padding: 40px;border-radius: 40px;">
        <div class="row">
            <p style="color: white;">Google Cloud Platform stands as a leader in cloud services, offering a robust and
                scalable infrastructure
                for businesses worldwide. As organizations increasingly migrate their operations to the cloud,
                proficiency in GCP has become a valuable asset in the job market. Our GCP Course is meticulously crafted
                to meet the growing demand for skilled professionals capable of architecting, managing, and optimizing
                cloud solutions on the Google Cloud Platform.
                <br><br>
                At eKnowledgeHub, our GCP Course stands out for several reasons, ensuring a comprehensive and
                enriching learning experience. Led by industry experts with a wealth of experience in Google Cloud
                Platform (GCP), our courses provide real-world insights, best practices, and invaluable knowledge. This
                expert-led instruction guarantees that you receive practical and relevant information, bridging the gap
                between theory and application.
                <br><br>
                Our GCP Course boasts a comprehensive curriculum that spans the entire spectrum of GCP services and
                solutions. Whether you're aiming for certifications such as Associate Cloud Engineer or Professional
                Cloud Architect, our curriculum is meticulously designed to prepare you for success. Covering
                foundational concepts to advanced topics, our courses ensure that you acquire the knowledge and skills
                demanded by the evolving landscape of cloud computing.
                <br><br>
                We understand the importance of practical application in the learning process. With our GCP Course,
                theory meets practice through hands-on labs and projects. Gain practical experience by working on
                real-world scenarios, designing solutions, and implementing best practices in a simulated GCP
                environment. This approach ensures that you not only grasp the concepts but can effectively apply them
                in various scenarios, enhancing your problem-solving and critical-thinking skills.

            </p>
        </div>
    </div>
</div>
<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #d19200df;padding: 40px;border-radius: 30px;">
        <div class="row">
            <div class="edu_evnt_single_timer_bottom_cont_wrapper float_left">
                <h3 style="padding-top: 0px;color: white;">Google Cloud Platforms General FAQs</h3>
                <p style="color: #773f00;">Everything you need to know</p>
                <ul>
                    <li style="font-weight: 600;color: #fff;">1. Do I need prior experience with cloud technologies or Google Cloud Platform to enroll in the course?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i>No prior experience is required. The course is structured to cater to learners with varying levels of expertise. Beginners will receive a solid foundation in cloud computing concepts and GCP services, while experienced individuals will have the opportunity to deepen their knowledge and refine their skills.
                    </li><br>
                    <li style="font-weight: 600;color: #fff;">2. Is there a hands-on component to the Google Cloud Platform course?</li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i>Yes, the course includes practical, hands-on exercises and projects. Participants will have the opportunity to work with GCP services, allowing them to apply their knowledge in real-world scenarios. This hands-on experience is crucial for reinforcing theoretical concepts and building practical skills.
                    </li>
                    <br>
                    <li style="font-weight: 600;color: #fff;">3. What are the expected outcomes after completing the Google Cloud Platform course?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> After completing the course, participants will have a comprehensive understanding of Google Cloud Platform services and how to leverage them to address various business needs. Whether you're aiming to optimize infrastructure, analyze data, or implement machine learning solutions, this course provides the skills and knowledge necessary to succeed in the dynamic landscape of cloud computing with GCP.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>



<link src="assets/css/style_II.css">