<!-- inner header wrapper start -->
<div class="page_title_section float_left" style="padding-top: 50px;">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <h1>Amazon Web Services</h1><br>
                    <h6 style="color: white;font-weight: bold;">Learn AWS
                        in just 4 weeks!</h6><br>
                    <p class="LandingSectionNew_StartDate__3OlHG">
                        <span style="border-radius: 8px;
                        border: 1px solid #bc8000;
                        background: linear-gradient(90deg,#bc8000,#420e00);
                        box-shadow: 0 0 8px -1px #bc8000;
                        font-size: .8em;padding: 6px;">Application closes on <span
                                class="LandingSectionNew_GoldenDate__3l1us">soon</span></span>
                    </p>
                </div><br>
            </div>
            <div class="row" style="text-align: center;padding-top: 50px;">
                <div class="col-lg-4 col-md-4 col-12 col-sm-12"  style="padding: 0px;">
                    <img src="assets/myimgs/31.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;padding: 10px;">In Demand Skill </span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12"  style="padding: 0px;">
                    <img src="assets/myimgs/32.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;padding: 10px;">1 Million Jobs Created</span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12"  style="padding: 0px;">
                    <img src="assets/myimgs/53.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;padding: 10px 5px;">Average Salary Package </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!--blog wrapper start-->
<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post-wrapper iner_blog">

                    <!-- /.post-thumbnail -->
                    <div class="blog-content" style="padding-top: 0px !important;">

                        <!-- /.entry-meta -->
                        <p>Welcome to eKnowledgeHub, your gateway to cutting-edge training that propels your career into
                            the cloud era. Dive into the future of cloud computing with our comprehensive Amazon Web
                            Services (AWS) Course. Whether you're a seasoned IT professional or a novice exploring the
                            vast realm of cloud technology, our AWS Course is meticulously designed to equip you with
                            the skills and knowledge needed to thrive in the dynamic world of cloud computing.

                        </p>

                        <br>
                        <!-- /.entry-header -->

                    </div>
                    <div class="row" style="margin: 0px;">
                        <h2 style="font-weight: bold;">What is in it for you?</h2><br>
                        <h4>
                            Shape the future with Google Cloud Platforms</h4>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/LiveClasses.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Live Classes</h3>
                                    <p style="font-size: 0.875em;">Attend 4 weeks of instructor led live classes at
                                        the lowest price ever</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Project.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Projects</h3>
                                    <p style="font-size: 0.875em;">Work on real life project with tangible impact
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/certificate.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Verified Certificate</h3>
                                    <p style="font-size: 0.875em;">Earn a industry recognized certificate and kick
                                        start your career</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Recordings.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Session Recordings</h3>
                                    <p style="font-size: 0.875em;">Revisit older chapters anytime with recorded
                                        sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Lifetimeaccess.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Lifetime Access</h3>
                                    <p style="font-size: 0.875em;">Get lifetime access to the recorded sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Students.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Students Forum</h3>
                                    <p style="font-size: 0.875em;">Get access to an exclusive student community with
                                        like minded people</p>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">
                        <img src="assets/images/quote.png" alt="img" style="top: 20px;">
                        <h1>
                            Grab your slot before the offer expires</h1>
                        <p style="color: white;">
                            Discount applicable for next
                            <a style="font-weight: bold;"> 10 candidates only.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="edu_heading_wrapper edu_heading_wrapper_contactus float_left">
                                    <h4 style="font-weight: bold;">Reserve your spot today!</h4>
                                </div>
                            </div>
                            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                                <form  [formGroup]="addForm">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="first_name" formControlName="name"
                                                        required="" placeholder=" Name*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="last_name" formControlName="phn_num"
                                                    minlength="10" maxlength="10" (keypress)="numericOnly($event)" required="" placeholder="Phone Number*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-e">
                                                <div class="form-group i-email">
                                                    <input type="email" class="form-control require" name="email"
                                                        required="" placeholder=" Email *" data-valid="email" formControlName="email"
                                                        data-error="Email should be valid.">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-m">
                                                <div class="form-group i-message">

                                                    <textarea class="form-control require" name="message" required="" formControlName="message"
                                                        rows="5" id="messageTen" placeholder=" Message"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tb_es_btn_div">
                                                <div class="response"></div>
                                                <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                                    <button type="button" (click)="Submit()">send message
                                                        !</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edu_counter_main_section_wrapper float_left">
    <div class="edu_counter_img_overlay"></div>
    <section class="counter-section section-padding">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon3 icon1">
                            <div class="icon">
                                <img src="assets/images/c1.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">500 </span>
                                <h5 class="con1">Enrolled Students</h5>
                            </div>
                        </div>
    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c3.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">100 </span>
                                <h5 class="con1">Completed Pojects</h5>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c4.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">5 </span>
                                <h5 class="con1">Expertise</h5>
                            </div>
                        </div> -->
            </div>
        </div>
    </section>
</div>

<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;    background: white;                                ">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Curriculum</h1>
                                <p style="color: #878787;">
                                    A Curriculum designed for your success
                                </p>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Introduction to AWS</h1>
                                <p>
                                    Module 1<br>
                                    
                                </p>
                                <ul>
                                    <li><i class="fas fa-circle"
                                            style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Introduction to AWS</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;AWS
                                        Environment Setup</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;AWS
                                        Identity and Access Management (IAM)</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;AWS
                                        Command Line Interface (CLI)</li>

                                </ul>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">AWS Core Services
                                </span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 2</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">

                                    <li class="CurriculumSectionNew_Topic__eicEE">Compute Services
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Storage Services
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Database Services
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE"> Networking Services</li>

                                </div>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">AWS Core Services
                                </span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 3</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">
                                    <li class="CurriculumSectionNew_Topic__eicEE">Advanced AWS Concepts
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">AWS Elastic Load Balancing (ELB)</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">AWS Auto Scaling
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">AWS Security Best Practices
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Monitoring and Logging
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">AWS Serverless Architecture
                                    </li>
                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div class="tb_es_btn_div">
                                        <div class="response"></div>
                                        <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                            <button type="button" class="submitForm"> <a style="color: #fff;"
                                                    href="assets/pdf/Android.pdf" target="_blank">
                                                    More Details </a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Tools Covered</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/S3.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                S3 </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Linux.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Linux</h6>
                                        </div>

                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/EC2.png" alt="img" style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                EC2</h6>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left; background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Course Includes</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Doubts.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Doubt Clearing Sessions</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Assignments1.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Relevant Assignments</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Study.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Updated Study Materials</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Project.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Live Projects</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Skills You Will Learn</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 10px 35px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="CurriculumSectionNew_DropdownContent__7iTjH">
                                        <li class="CurriculumSectionNew_Topic__eicEE">AWS Management Console.</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Amazon EC2</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Amazon VPC</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">CloudWatch Alarms.</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Amazon Route 53</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">AWS Serverless Application Model
                                        </li>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--blog wrapper end-->


<div class="edu_gallery_inner_main_wrapper float_left" style="padding-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>More Courses</h1>
            </div>
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="All" class="tab-pane active" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc5.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/AzureLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/azure">Azure</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/azure">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc6.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/DevOpsLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/devops">DevOps</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 53000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 24999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 150 Hours</p>
                                        
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/devops">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc1.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;"
                                                    src="assets/myimgs/FlutterLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/flutter">Flutter</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/flutter">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc2.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/BALogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/baac">Business Analysis</a></h3>
                                        <p ><i
                                            class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                            style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/baac">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="edu_gallery_inner_main_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">

                <h1>
                    Looking for help? Here are our most frequently asked questions</h1>

            </div>

        </div>
    </div>
</div>

<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #743d00e3;padding: 40px;border-radius: 40px;">
        <div class="row">
            <p style="color: white;">Amazon Web Services (AWS) stands as the undisputed leader in the cloud computing
                landscape, providing a robust and scalable platform that empowers businesses worldwide. As organizations
                increasingly migrate their operations to the cloud, proficiency in AWS has become a highly sought-after
                skill in the job market. Our AWS Course is tailored to meet the growing demand for skilled professionals
                capable of architecting, managing, and optimizing cloud environments on the AWS platform.<br><br>
                AWS courses offer expert-led instruction, combining real-world scenarios, best practices, and insights
                from industry experts. The comprehensive curriculum covers the entire spectrum of AWS services and
                solutions, preparing students for certifications such as AWS Certified Solutions Architect, AWS
                Certified Developer, or AWS Certified SysOps Administrator. Hands-on labs and projects allow students to
                apply their knowledge in a simulated AWS environment.<br><br>
                Flexible learning options, such as in-person classes, virtual classrooms, or self-paced online modules,
                allow students to tailor their learning experience to suit their schedule and preferences. Key learning
                objectives include understanding AWS fundamentals, Architecting on AWS, Developing on AWS, SysOps
                Administration, and Security and Compliance.<br><br>
                The course covers AWS fundamentals, architecture, development, SysOps Administration, and security best
                practices. By focusing on these areas, students can enhance their understanding and apply their skills
                effectively in a simulated AWS environment.<br><br>
                AWS courses offer expert-led instruction, combining real-world scenarios, best practices, and insights
                from industry experts. The comprehensive curriculum covers the entire spectrum of AWS services and
                solutions, preparing students for certifications such as AWS Certified Solutions Architect, AWS
                Certified Developer, or AWS Certified SysOps Administrator. Hands-on labs and projects allow students to
                apply their knowledge in a simulated AWS environment.
            </p>
        </div>
    </div>
</div>
<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #d19200df;padding: 40px;border-radius: 30px;">
        <div class="row">
            <div class="edu_evnt_single_timer_bottom_cont_wrapper float_left">
                <h3 style="padding-top: 0px;color: white;">Amazon Web Services (AWS) General FAQs</h3>
                <p style="color: #773f00;">Everything you need to know</p>
                <ul>
                    <li style="font-weight: 600;color: #fff;">1. What is Amazon Web Services (AWS)?</li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i>Amazon Web Services (AWS) is a comprehensive and evolving cloud computing platform provided by Amazon. It offers a wide range of services, including computing power, storage, databases, machine learning, analytics, security, and more. AWS enables businesses to scale and innovate by providing on-demand access to resources.
                    </li><br>
                    <li style="font-weight: 600;color: #fff;">2. How can I get started with AWS?</li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> To get started with AWS, you can visit our official website and create an AWS account. Once registered, you can access a variety of AWS services, explore documentation, and utilize resources such as tutorials and training to build your skills and understanding of the platform.
                    </li>
                    <br>
                    <li style="font-weight: 600;color: #fff;">3. What services does AWS offer?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> AWS provides a vast array of services across categories such as computing, storage, databases, machine learning, analytics, security, and more. Some prominent services include Amazon EC2, Amazon S3, AWS Lambda, Amazon RDS, and Amazon DynamoDB. Explore our AWS services to find the right solutions for your specific needs.
                     </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>



<link src="assets/css/style_II.css">