<!-- inner header wrapper start -->
<div class="page_title_section float_left" style="padding-top: 50px;">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <h1>Business Analysis</h1><br>
                    <h6 style="color: white;font-weight: bold;">Learn Business Analysis
                        in just 4 weeks!</h6><br>
                    <p class="LandingSectionNew_StartDate__3OlHG">
                        <span style="border-radius: 8px;
                        border: 1px solid #bc8000;
                        background: linear-gradient(90deg,#bc8000,#420e00);
                        box-shadow: 0 0 8px -1px #bc8000;
                        font-size: .8em;padding: 6px;">Application closes on <span
                                class="LandingSectionNew_GoldenDate__3l1us">soon</span></span>
                    </p>
                </div><br>
            </div>
            <div class="row" style="text-align: center;padding-top: 50px;">
                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/81.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;
                            padding: 10px;">In Demand Skill </span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/82.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;
                            padding: 10px;">1 Million Jobs Created</span>
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="padding: 0px;">
                    <img src="assets/myimgs/43.png" style="max-width: 85%;min-height: 65px;">
                    <p class="LandingSectionNew_StartDate__3OlHG" style="margin-top: 20px;">
                        <span style="border-radius: 8px;
                            border: 1px solid #bc8000;
                            background:#bc8000;
                            padding: 10px 5px;">Average Salary Package </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inner header wrapper end -->
<!--blog wrapper start-->
<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post-wrapper iner_blog">

                    <!-- /.post-thumbnail -->
                    <div class="blog-content" style="padding-top: 0px !important;">

                        <!-- /.entry-meta -->
                        <p>In today's dynamic business environment, the role of a skilled Business Analyst is paramount,
                            bridging the gap between business needs and technological solutions. Join us on a
                            transformative learning journey that will empower you to thrive in the world of Business
                            Analysis. eKnowledgeHub's comprehensive Business Analysis course can help you make strategic
                            decisions, optimize processes, and achieve business excellence.
                        </p>

                        <br>
                        <!-- /.entry-header -->

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 style="font-weight: bold;">What is in it for you?</h2>
                        </div>
                        <div class="col-12">
                            <h4 style="float: left;"> Shape the future with Business Analysis</h4>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px;">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/LiveClasses.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Live Classes</h3>
                                    <p style="font-size: 0.875em;">Attend 4 weeks of instructor led live classes at
                                        the lowest price ever</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Project.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Projects</h3>
                                    <p style="font-size: 0.875em;">Work on real life project with tangible impact
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/certificate.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Verified Certificate</h3>
                                    <p style="font-size: 0.875em;">Earn a industry recognized certificate and kick
                                        start your career</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Recordings.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Session Recordings</h3>
                                    <p style="font-size: 0.875em;">Revisit older chapters anytime with recorded
                                        sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Lifetimeaccess.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Lifetime Access</h3>
                                    <p style="font-size: 0.875em;">Get lifetime access to the recorded sessions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="edu_staff_main_box_wrapper float_left">
                                <div class="edu_staff_icon_wrapper">
                                    <img src="assets/myimgs/Students.png" alt="img">
                                </div>
                                <div class="edu_staff_icon_cont_wrapper">
                                    <h3 style="font-size: 1.2em;font-weight:bold">Students Forum</h3>
                                    <p style="font-size: 0.875em;">Get access to an exclusive student community with
                                        like minded people</p>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">
                        <img src="assets/images/quote.png" alt="img" style="top: 20px;">
                        <h1>
                            Grab your slot before the offer expires</h1>
                        <p style="color: white;">
                            Discount applicable for next
                            <a style="font-weight: bold;"> 10 candidates only.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="edu_heading_wrapper edu_heading_wrapper_contactus float_left">
                                    <h4 style="font-weight: bold;">Reserve your spot today!</h4>
                                </div>
                            </div>
                            <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
                                <form [formGroup]="addForm">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="first_name"
                                                        formControlName="name" required="" placeholder=" Name*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-pos">
                                                <div class="form-group i-name">

                                                    <input type="text" class="form-control require" name="last_name"
                                                        formControlName="phn_num" required="" minlength="10" maxlength="10" (keypress)="numericOnly($event)"
                                                        placeholder="Phone Number*">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-e">
                                                <div class="form-group i-email">
                                                    <input type="email" class="form-control require" name="email"
                                                        required="" placeholder=" Email *" data-valid="email"
                                                        formControlName="email" data-error="Email should be valid.">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-m">
                                                <div class="form-group i-message">

                                                    <textarea class="form-control require" name="message" required=""
                                                        formControlName="message" rows="5" id="messageTen"
                                                        placeholder=" Message"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tb_es_btn_div">
                                                <div class="response"></div>
                                                <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                                    <button type="button" (click)="Submit()">send message
                                                        !</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edu_counter_main_section_wrapper float_left">
    <div class="edu_counter_img_overlay"></div>
    <section class="counter-section section-padding">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon3 icon1">
                            <div class="icon">
                                <img src="assets/images/c1.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">500 </span>
                                <h5 class="con1">Enrolled Students</h5>
                            </div>
                        </div>
    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c3.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">100 </span>
                                <h5 class="con1">Completed Pojects</h5>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                            <div class="icon">
                                <img src="assets/images/c4.png" alt="img">
                            </div>
                            <div class="count-description"> <span class="timer">5 </span>
                                <h5 class="con1">Expertise</h5>
                            </div>
                        </div> -->
            </div>
        </div>
    </section>
</div>

<div class="blog_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;    background: white;                                ">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Curriculum</h1>
                                <p style="color: #878787;">
                                    A Curriculum designed for your success
                                </p>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">
                                <h1 style="padding: 0;color: #db9b02;font-weight: bold;">
                                    Introduction to Business Analysis</h1>
                                <p>
                                    Module 1<br>

                                </p>
                                <ul>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Role of a
                                        Business Analyst</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Evolution
                                        of Business Analysis</li>
                                    <li><i class="fas fa-circle" style="font-size: 5px;"></i>&nbsp;&nbsp;&nbsp;Business
                                        Analysis Frameworks and Methodologies</li>

                                </ul>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">Fundamental Business
                                    Analysis Concepts</span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 2</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">

                                    <li class="CurriculumSectionNew_Topic__eicEE">Requirements Gathering</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Stakeholder Analysis</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">SWOT Analysis</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Problem Solving and Decision Making
                                    </li>

                                </div>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;"><span
                                    style="color: #db9b02;font-weight: bold;font-size: 22px; ">Business Analysis Tools
                                    and Techniques</span>
                                <div><span class="CurriculumSectionNew_ModuleName__21L8S">Module 3</span></div><span
                                    class="CurriculumSectionNew_TopicText__2A8oh"></span>
                                <div class="CurriculumSectionNew_DropdownContent__7iTjH">

                                    <li class="CurriculumSectionNew_Topic__eicEE">Data Modeling and Analysis</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Process Modeling</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Use Case Modeling</li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">User Stories and Agile Requirements
                                    </li>
                                    <li class="CurriculumSectionNew_Topic__eicEE">Business Analysis Documentation</li>

                                </div>
                                <br>
                                <div class="col-md-12">
                                    <div class="tb_es_btn_div">
                                        <div class="response"></div>
                                        <div class="tb_es_btn_wrapper conatct_btn2 cont_bnt">
                                            <button type="button" class="submitForm"> <a style="color: #fff;"
                                                    href="assets/pdf/BA.pdf" target="_blank">
                                                    More Details </a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Tools Covered</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Jira.png" alt="img"
                                                style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Jira</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Figma.png" alt="img"
                                                style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Figma </h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Swot.png" alt="img"
                                                style="top: 0;height: 90px;margin-top: -30px;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 45px;text-align: center;font-weight:600;font-size: .75em;">
                                                Swot</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left; background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Course Includes</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Doubts.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Doubt Clearing Sessions</h6>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Assignments1.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Relevant Assignments</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Study.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Updated Study Materials</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="edu_staff_icon_wrapper">
                                            <img src="assets/myimgs/Project.png" alt="img" style="top: 0;">
                                        </div>
                                        <div class="edu_staff_icon_cont_wrapper">
                                            <h6
                                                style="padding-top: 65px;text-align: center;font-weight:600;font-size: .75em;">
                                                Live Projects</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_section float_left" style="padding: 30px 0;background: #743d00;
                border-radius: 30px;margin-top: 30px;">
                    <div class="container">
                        <div class="row" style="margin: 0px;">
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 20px;text-align: left;background: white;">
                                <h1 style="padding: 0;font-weight: bold;color: #db9b02;">
                                    Skills You Will Learn</h1>
                            </div>
                            <div class="blog_dark_wrapper  blog_single_box float_left"
                                style="padding: 10px 35px;text-align: left;;background: white;">

                                <div class="row">
                                    <div class="CurriculumSectionNew_DropdownContent__7iTjH">
                                        <li class="CurriculumSectionNew_Topic__eicEE">Requirements Gathering
                                        </li>
                                        <li class="CurriculumSectionNew_Topic__eicEE"> Stakeholder Management
                                        </li>
                                        <li class="CurriculumSectionNew_Topic__eicEE"> Data and Process Modeling
                                        </li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Problem Solving and Decision
                                            Making</li>
                                        <li class="CurriculumSectionNew_Topic__eicEE">Business Analysis Documentation
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--blog wrapper end-->


<div class="edu_gallery_inner_main_wrapper float_left" style="padding-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>More Courses</h1>
            </div>
            <div class="col-md-12">
                <div class="tab-content">
                    <div id="All" class="tab-pane active" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc5.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/AzureLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/azure">Azure</a></h3>
                                        <p><i class="fas fa-hand-holding-usd"></i>&nbsp; <del style="font-size:13px">₹
                                                33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹
                                                14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/azure">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc6.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/DevOpsLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/devops">DevOps</a></h3>
                                        <p><i class="fas fa-hand-holding-usd"></i>&nbsp; <del style="font-size:13px">₹
                                                53000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹
                                                24999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 150 Hours</p>

                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/devops">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc1.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/AWSLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/aws">AWS</a></h3>
                                        <p><i class="fas fa-hand-holding-usd"></i>&nbsp; <del style="font-size:13px">₹
                                                23000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹
                                                9999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/aws">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                    <div class="edu_slide_tabs_img_box float_left">
                                        <img src="assets/images/pc1.jpg" alt="img">
                                        <div class="edu_tabs_label">
                                            <p><del></del>
                                            </p>
                                            <div class="edu_tabs_label_inner">
                                                <img style="border-radius: 50%;" src="assets/myimgs/FlutterLogo.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edu_slide_tabs_img_cont_box float_left">

                                        <h3><a routerLink="/flutter">Flutter</a></h3>
                                        <p><i class="fas fa-hand-holding-usd"></i>&nbsp; <del style="font-size:13px">₹
                                                33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹
                                                14999/-</span></p>
                                        <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                        <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                            Students Enrolled</p>
                                        <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                            Instructor-Led Live Sessions</p>
                                        <h5><a routerLink="/flutter">Read More</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="edu_gallery_inner_main_wrapper float_left">
    <div class="container">
        <div class="row">
            <div class="blog_dark_wrapper  blog_single_box float_left" style="padding: 20px;">

                <h1>
                    Looking for help? Here are our most frequently asked questions</h1>

            </div>

        </div>
    </div>
</div>

<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #743d00e3;padding: 40px;border-radius: 40px;">
        <div class="row">
            <p style="color: white;">Our Business Analysis course offers a comprehensive and industry-relevant
                curriculum that covers foundational concepts to advanced methodologies. This ensures that you are well
                prepared to tackle real-world business challenges. You will learn from industry experts and seasoned
                professionals who bring years of practical experience to the classroom. They will provide insights into
                best practices, real-world scenarios, and the nuances of effective business analysis. <br><br>
                At eKnowledgeHub’s we emphasizes hands-on learning, with case studies, simulations, and practical
                exercises that mirror real-world business scenarios. This will help you develop the skills and
                confidence needed to excel in diverse business environments. <br><br>Additionally, our course prepares
                you for industry-recognized certifications, enhancing your professional credibility and giving you a
                valuable edge in the job market.
                You will also have the opportunity to engage with peers, share insights, and participate in
                collaborative projects. Our interactive learning environment fosters teamwork, communication skills, and
                a deeper understanding of business analysis concepts through collective problem solving.<br><br>
                Furthermore, our course explores the integration of business analysis practices within the project
                management framework. This holistic skill set is highly valued by employers, as it allows you to
                effectively contribute to project success.<br><br>
                This course provides a comprehensive overview of the foundations of business analysis. It covers core
                principles, concepts, and terminology, as well as the role of a Business Analyst in different
                organizational contexts.

            </p>
        </div>
    </div>
</div>
<div class="edu_staff_main_wrapper float_left" style="padding: 30px;">
    <div class="container" style="background: #d19200df;padding: 40px;border-radius: 30px;">
        <div class="row">
            <div class="edu_evnt_single_timer_bottom_cont_wrapper float_left">
                <h3 style="padding-top: 0px;color: white;">Business Analysis General FAQs</h3>
                <p style="color: #773f00;">Unlocking Business Success</p>
                <ul>
                    <li style="font-weight: 600;color: #fff;">1. What is Business Analysis, and why is it crucial for organizations?</li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i>Business Analysis is a discipline that involves identifying business needs, finding solutions, and facilitating change within an organization. It plays a pivotal role in ensuring that businesses operate efficiently and effectively. By analyzing processes, systems, and data, Business Analysts contribute to informed decision-making and improved business outcomes.
                    </li><br>
                    <li style="font-weight: 600;color: #fff;">2. Who is the Business Analysis Course designed for?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> The Business Analysis Course is designed for professionals seeking to enhance their analytical and problem-solving skills. This includes aspiring business analysts, project managers, system analysts, and individuals involved in strategic business decision-making. The course accommodates a diverse audience, providing foundational knowledge and advanced techniques.
                    </li>
                    <br>
                    <li style="font-weight: 600;color: #fff;">3. Do I need prior business or analytical experience to enroll in the course?
                    </li>
                    <li style="color: #773f00;"><i class="fas fa-circle"></i> No, prior business or analytical experience is not required. The Business Analysis Course is structured to cater to individuals with varying levels of expertise. Whether you are a newcomer to the field or have some experience, the course offers a step-by-step learning path to build and refine your business analysis skills.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>



<link src="assets/css/style_II.css">