<body>
    <img src="assets/myimgs/Dashboard.png" style="width: 100%;">

    <!-- <div class="rev_slider">
        <div id="rev_slider_467_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
            data-alias="classic-carousel26" data-source="gallery"
            style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_467_1" class="rev_slider fullwidthabanner" data-version="5.4.1">
                <img src="assets/myimgs/Dashboard.png">
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
            </div>
        </div>
    </div> -->

    <!--edu books wrapper Start-->
    <div class="edu_books_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="edu_heading_wrapper float_left">
                        <h3>OUR SERVICES</h3>
                        <p>Your gateway to cutting-edge business solutions – from bespoke apps and AWS expertise to Flutter development and <br>strategic digital marketing. Elevate your business with us!
                        </p>
                    </div>
                    <img src="assets/myimgs/Road.png" style="height: 500px;width: 100%;object-fit: contain;">
                </div>

            </div>
        </div>
    </div>
    <!--edu books wrapper End-->
    <!--edu counter wrapper Start-->
    <div class="edu_counter_main_section_wrapper float_left">
        <div class="edu_counter_img_overlay"></div>
        <section class="counter-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon3 icon1">
                        <div class="icon">
                            <img src="assets/images/c1.png" alt="img">
                        </div>
                        <div class="count-description"> <span class="timer">500 </span>
                            <h5 class="con1">Enrolled Students</h5>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                        <div class="icon">
                            <img src="assets/images/c3.png" alt="img">
                        </div>
                        <div class="count-description"> <span class="timer">100 </span>
                            <h5 class="con1">Completed Pojects</h5>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 icon2">
                        <div class="icon">
                            <img src="assets/images/c4.png" alt="img">
                        </div>
                        <div class="count-description"> <span class="timer">5 </span>
                            <h5 class="con1">Expertise</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--edu counter wrapper End-->
    <!--edu course wrapper Start-->
    <div class="edu_course_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="edu_heading_wrapper float_left">
                        <h3>Popular Courses</h3>
                        <p>Unlock new possibilities and enhance your skills with our diverse range of popular courses.
                            Whether you're looking to delve into cutting-edge technologies, advance your career, or
                            explore a new passion, our courses are designed to empower your learning journey.
                        </p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="tab-content">
                        <div id="All" class="tab-pane active" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc1.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;"
                                                        src="assets/myimgs/AndroidLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">Android Application Development</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 29000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 12999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 5.8K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/aad">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc2.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;" src="assets/myimgs/CloudLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">Google Cloud Platforms</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 3.8K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/cloud">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc3.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;" src="assets/myimgs/AWSLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">Amazon Web Services</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 23000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 9999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 1.8K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/cloud">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc4.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;" src="assets/myimgs/DMLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">
                                            <h3><a routerLink="/dm"> Digital Marketing</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 53000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 29999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 120 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 4.8K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/dm">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc5.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;" src="assets/myimgs/AzureLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">Azure</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 23000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 9999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 1.5K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/azure">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc6.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;" src="assets/myimgs/DevOpsLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">DevOps</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 53000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 24999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 150 Hours</p>
                                            
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 3.6K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/devops">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc1.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;"
                                                        src="assets/myimgs/FlutterLogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">Flutter</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 6.2K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/flutter">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box edu_slide_tab_box2 float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="assets/images/pc2.jpg" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del></del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <img style="border-radius: 50%;" src="assets/myimgs/BALogo.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">

                                            <h3><a href="#">Business Analysis</a></h3>
                                            <p ><i
                                                class="fas fa-hand-holding-usd"></i>&nbsp; <del
                                                style="font-size:13px">₹ 33000/-</del> &nbsp; <span style="color: #5b2500;font-weight: 600;">₹ 14999/-</span></p>
                                            <p style="padding-top: 10px;"><i class="fas fa-clock"></i>&nbsp; 45 Hours</p>
                                            <p style="padding-top: 10px;"><i class='fas fa-users'></i>&nbsp; 2.1K
                                                Students Enrolled</p>
                                            <p style="padding-top: 10px;"><i class="fas fa-video"></i>&nbsp;
                                                Instructor-Led Live Sessions</p>
                                            <h5><a routerLink="/baac">Read More</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--edu Blog wrapper Start-->
    <div class="edu_blog_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="edu_heading_wrapper edu_heading_second_wrapper float_left">
                        <h3>OUR Blog</h3>
                        <p>"Explore the future with eKnowledgeHub's blogs! Uncover educational insights and 
                            stay ahead of<br> software and digital marketing trends. Empower your knowledge journey.
                        </p>
                    </div>
                </div>
                <div *ngFor="let i of blogdata" class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="edu_blog_main_box float_left" (click)="blogsing(i)">
                        <div class="edu_blog_label">
                            <p>Latest</p>
                        </div>
                        <div class="edu_blog_date float_left">
                            <!-- <p>Febuary 14, 2019</p> -->
                        </div>
                        <div class="edu_blog_img_wrapper float_left">
                            <img src="{{i.mini_blog_img}}" alt="img">
                        </div>
                        <div class="edu_blog_img_content_wrapper float_left">
                            <p>{{i.mini_blog_content}}</p>
                            
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="edu_blog_main_box float_left">
                        <div class="edu_blog_label">
                            <p>Latest</p>
                        </div>
                        <div class="edu_blog_date float_left">
                            <p>Febuary 14, 2019</p>
                        </div>
                        <div class="edu_blog_img_wrapper float_left">
                            <img src="assets/images/blog_02.jpg" alt="img">
                        </div>
                        <div class="edu_blog_img_content_wrapper float_left">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula velit lectus, non
                                ornare nibh consectetur accumsan.</p>
                            <ul>
                                <li><a href="#"><i class="far fa-eye"></i> &nbsp;78 View</a>
                                </li>
                                <li><a href="#"><i class="fas fa-heart"></i> &nbsp;05 Like</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="edu_blog_main_box float_left">
                        <div class="edu_blog_label">
                            <p>Latest</p>
                        </div>
                        <div class="edu_blog_date float_left">
                            <p>Febuary 14, 2019</p>
                        </div>
                        <div class="edu_blog_img_wrapper float_left">
                            <img src="assets/images/blog_03.jpg" alt="img">
                        </div>
                        <div class="edu_blog_img_content_wrapper float_left">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula velit lectus, non
                                ornare nibh consectetur accumsan.</p>
                            <ul>
                                <li><a href="#"><i class="far fa-eye"></i> &nbsp;78 View</a>
                                </li>
                                <li><a href="#"><i class="fas fa-heart"></i> &nbsp;05 Like</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="edu_bottom_btn_wrapper float_left"> <a href="#">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--edu Blog wrapper End-->
    <!--edu testimonial wrapper Start-->
    <div id="testimonial-section" class="testimonial-bg">
        <div id="container-general" class="ready anim-section-features anim-section-desc anim-section-quote">
            <section id="section-quote">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="edu_heading_wrapper float_left">
                        <h3>Testimonial</h3>
                        <p>Exceptional Android course by eKnowledgeHub! Comprehensive content,<br>
                             clear explanations, and hands-on learning. Highly recommend!
                        </p>
                    </div>
                </div>
                <!--Left Bubble Images-->
                <div class="container-pe-quote left">
                    <div class="pp-quote li-quote-1" data-textquote="quote-text-1">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-2" data-textquote="quote-text-2">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-3" data-textquote="quote-text-3">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-4 active" data-textquote="quote-text-4">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-5" data-textquote="quote-text-5">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-6" data-textquote="quote-text-6">
                        <div class="img animated bounce"></div>
                    </div>
                </div>
                <!--Left Bubble Images-->
                <!--Center Testimonials-->
                <div class="container-quote carousel-on">
                    <!--Testimonial 1-->
                    <div class="quote quote-text-3 hide-bottom" data-ppquote="li-quote-3">
                        <p>'Managing everyday banking has finally become fun, fast and easy. Icing on the cake, customer
                            support is super reactive: 5 stars!'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Thibaut Dumontet</div>
                            <div class="job">Founder Croquants Gourmands</div>
                        </div>
                    </div>
                    <!--Testimonial 2-->
                    <div class="quote quote-text-4 show" data-ppquote="li-quote-4">
                        <p>'Qonto met my needs straight away. ng has finally become fun, fast andCustomer care is
                            awesome! Period.'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Rafaël de Lavergne</div>
                            <div class="job">Founder Totem</div>
                        </div>
                    </div>
                    <!--Testimonial 3-->
                    <div class="quote hide-bottom quote-text-5" data-ppquote="li-quote-5">
                        <p>'With Qonto, I've been able to order MasterCard cards in seconds. My purchasing team can now
                            be autonomous with their payments. Qonto is game changer.'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Grégoire Pasquet</div>
                            <div class="job">CEO Worldia</div>
                        </div>
                    </div>
                    <!--Testimonial 4-->
                    <div class="quote hide-bottom quote-text-6" data-ppquote="li-quote-6">
                        <p>'Qonto? Easy, fast, efficient. Traditionalng has finally become fun, fast and banks' hassles
                            belong to the past!'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Nicolas Katan</div>
                            <div class="job">Founder Bitit</div>
                        </div>
                    </div>
                    <!--Testimonial 5-->
                    <div class="quote hide-bottom quote-text-7" data-ppquote="li-quote-7">
                        <p>'Qonto? A flawless UX and a customer service ng has finally become fun, fast and that cares
                            so much. This is just incredible!'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Mathieu Jouhet</div>
                            <div class="job">Freelance Hello Mat</div>
                        </div>
                    </div>
                    <!--Testimonial 6-->
                    <div class="quote hide-bottom quote-text-8" data-ppquote="li-quote-8">
                        <p>'I needed a bank similar to a SaaS for LiveMentor: ng has finally become fun, fast and I
                            think I found it.'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Charles Lefebvre du Prey</div>
                            <div class="job">Founder LiveMentor</div>
                        </div>
                    </div>
                    <!--Testimonial 7-->
                    <div class="quote hide-bottom quote-text-9" data-ppquote="li-quote-9">
                        <p>'I can say 'Goodbye' to the banking pains I had to ng has finally become fun, fast and bear
                            with, and 'hello' to a way to do finance that makes sense.'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Duc Ha Duong</div>
                            <div class="job">CEO Officience</div>
                        </div>
                    </div>
                    <!--Testimonial 8-->
                    <div class="quote hide-bottom quote-text-10" data-ppquote="li-quote-10">
                        <p>'Qonto is 100% in tune with what we do at Alan.eu: a user-friendly service, a user-centric
                            interface and a very reactive customer support.'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Jean-Charles Samuelian</div>
                            <div class="job">CEO Alan</div>
                        </div>
                    </div>
                    <!--Testimonial 9-->
                    <div class="quote hide-bottom quote-text-11" data-ppquote="li-quote-11">
                        <p>'I have been looking for a modern and efficient banking alternative that could support the
                            development of my business. I'm just wondering why Qonto did not exist before!'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Louis Rouffineau</div>
                            <div class="job">CEO La Company</div>
                        </div>
                    </div>
                    <!--Testimonial 10-->
                    <div class="quote hide-bottom quote-text-13" data-ppquote="li-quote-13">
                        <p>'That's just perfect - It rocks baby! ng has finally become fun, fast and You wanna apply at
                            TheFamily? Use Qonto first.'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Oussama Ammar</div>
                            <div class="job">Founder TheFamily</div>
                        </div>
                    </div>
                    <!--Testimonial 11-->
                    <div class="quote quote-text-1 hide-bottom" data-ppquote="li-quote-1">
                        <p>'I wish I could have had Qonto ng has finally become fun, fast andenrolled in the Techstars
                            Paris's first batch!'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Bertier Luyt</div>
                            <div class="job">Managing Director Techstars</div>
                        </div>
                    </div>
                    <!--Testimonial 12-->
                    <div class="quote quote-text-2 hide-bottom" data-ppquote="li-quote-2">
                        <p>'Thanks to a slick interface and simple ng has finally become fun, fast and features,
                            managing payments and expenses has become a piece of cake!'</p>
                        <div class="container-info">
                            <div class="pp"></div>
                            <div class="name">Julian Aroun</div>
                            <div class="job">Founder Drapo</div>
                        </div>
                    </div>
                </div>
                <!--Right Bubble Images-->
                <div class="container-pe-quote right">
                    <div class="pp-quote li-quote-7" data-textquote="quote-text-7">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-8" data-textquote="quote-text-8">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-9" data-textquote="quote-text-9">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-10" data-textquote="quote-text-10">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-11" data-textquote="quote-text-11">
                        <div class="img animated bounce"></div>
                    </div>
                    <div class="pp-quote li-quote-13" data-textquote="quote-text-13">
                        <div class="img animated bounce"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--edu testimonial wrapper End -->
    <!--edu partner wrapper Start-->
    <!-- <div class="edu_partner_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="edu_heading_wrapper float_left">
                        <h3>OUR partners</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non
                            <br>interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="partners_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="assets/images/partner_1.png" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="assets/images/partner_2.png" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="assets/images/partner_3.png" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="assets/images/partner_4.png" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="assets/images/partner_5.png" alt="partner_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="lr_prt_img_wrapper">
                                    <img src="assets/images/partner_2.png" alt="partner_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--edu partner wrapper End-->
    


</body>